---
const { room } = Astro.props;
---

<a class="group hover:!text-default aspect-video" href={room.slug}>
  <figure class="relative h-full w-full overflow-hidden">
    <img
      src={room.image}
      alt={room.title}
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
      loading="lazy"
      width={800}
      height={450} />
    <figcaption class="absolute inset-0">
      <div class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100">
        <h3 class="text-center text-xl font-extrabold uppercase">
          {room.title}
        </h3>
        <p class="border border-current px-4 py-2">{room.slug}</p>
      </div>
    </figcaption>
  </figure>
</a>
