---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  room: CollectionEntry<"rooms">;
}

console.log("RoomCard Props:", Astro.props);

const { room } = Astro.props;
const widths = [450, 800];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<a class="group hover:!text-default aspect-video" href={room.data.slug}>
  <figure class="relative h-full w-full overflow-hidden">
    <Image
      src={room.data.image_thumbnail}
      alt={room.data.title}
      class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
      loading="lazy" 
      widths={widths}
      sizes={sizes}
      />
    <figcaption class="absolute inset-0">
      <div class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100">
        <h3 class="text-center text-xl font-extrabold uppercase">
          {room.data.title}
        </h3>
        <p class="border border-current px-4 py-2">More Info</p>
      </div>
    </figcaption>
  </figure>
</a>
